.project_d_main_cont{
    display: flex;
    flex-wrap: wrap;

    padding: 10px;
    margin: 5%;
    

}
.project_d_card_Cont{
    border-radius: 10px;
    display: grid;
    width: 350px;
    max-width: 90%;
    display: grid;
    grid-template-rows: 1.3fr 0.4fr 2fr 0.3fr;

    margin: 10px;
    min-height: 90vh;

    background-color: white;
}

.project_image_d{
    background-color: black;

}
.project_d_heading{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;

    font-weight: 600;

}
.project_d_overvieww{
    color: black;
    font-size: 1rem;

    padding: 10px;
}
.button_from_project_d{
    background-color: #514a5d;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    color: white;

    width: 100%;
    height: 100%;

    transition: 0.3s all ease;


}
.link_to_in_project{
    background-color: #514a5d;
    border: 2px solid white;
    color: black;
    border-radius: 10px;
    color: white;
    margin-left: 10px;

    width: 60%;
    transition: all 0.3s ease;
    
}
.button_from_project_d:hover{
    background-color: #2c2834;
    transform: translate(-4px, -4px );
}

.donut{
    background-image: url(../../../public/content/dount/Donut.jpg);
}
.ig{
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.sword{
    background-image: url(../../../public/content/sword/Sword.jpg);
}
.usualHour{
    background-image: url(../../../public/content/usualHour/usualHour.jpg);
}
.spiritRecarnation{
    background-image: url(../../../public/content/sprint/Spirit.jpg);
}
.skull{
    background-image: url(../../../public/content/abandoned_skull/Abandoned_Skull.jpg);
}
.dount{
    background-image: url(../../../public/content/dount/Donut.jpg);
}
