.card_contt{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #514a5d;
    padding-top: 40px;

}
.card{
    margin: 10px;
    display: grid;
    grid-template-rows: 3fr 2fr;
    max-width: 350px;
    
    height: 85vh;
    background-color: white;
    justify-content: space-between;

    border-radius: 10px;

}

.img_1_c{
    background-image: url('../../assets/img/1.jpg');
    background-size: cover;         /* Ensure the image covers the entire div */
    background-repeat: no-repeat;   /* Prevent the image from repeating */
    background-position: center center; /* Center the image in the div */
    width: 100%; /* You can adjust the width as needed */

}
.img_3_c{
    background-image: url('../../assets/img/3.jpg');    
    background-size: cover;         /* Ensure the image covers the entire div */
    background-repeat: no-repeat;   /* Prevent the image from repeating */
    background-position: center center; /* Center the image in the div */
    width: 100%; /* You can adjust the width as needed */

}
.img_2_c{
    background-image: url('../../assets/img/2.jpg');
    background-size: cover;         /* Ensure the image covers the entire div */
    background-repeat: no-repeat;   /* Prevent the image from repeating */
    background-position: center center; /* Center the image in the div */
    width: 100%; /* You can adjust the width as needed */
}
.other_then_img{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.heading_txt_Card{
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 10px;
}
.button_card{
    background-color: #342f3d;
    color: white;
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 55%;

    position: absolute;
    bottom: 4%;
    left: 4%;

    transition: all 0.3s ease;
}
.button_card:hover{
    transform: translate(-3px, -3px);
}
.card_contt{
    display: flex;
    flex-wrap: wrap;
}
.spacer_1{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../assets/floating_end.svg');
    height: 120vh;
    
}
@media screen and (max-width: 800px) {
    .card_contt{
        background-color: #696275;
    }
    .spacer_1{
        height: 320vh;
    }
    
}
.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s ease;
    filter: blur(5px);
}
.show{
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0px);
}
.hidden:nth-child(2){
    transition-delay: 200ms;
}
.hidden:nth-child(3){
    transition-delay: 300ms;
}

.para_of_card{
    font-size: 1rem;
    font-weight: 400;
}