
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: oblique;
  font-size: small;

  

}
body{
  background-color: #342f3d;
}

.next{
  background-color: #514a5d;
}