.main_cont{
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}
.container{
    display: flex;
    width: 90vw;
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in;
}
.img_1{
    background-image: url(../../../public/content/abandoned_skull/Abandoned_Skull.jpg);
    font-weight: 800;
}
.img_2{
    background-image: url(../../../public/content/sword/Sword.jpg);
}
.img_3{
    background-image: url(../../../public/content//dount/Donut.jpg);
}

.panel h1{
    font-size: 35px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0px;
    opacity: 0;
}
.panel.active{
    flex: 5;
}
.panel.active h1{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.line{
    width: 100%;
    height: 1px;
    background-color: white;
}
.banner_view_more{
    position: absolute;
    bottom: 10%;
    left: 45%;
    background-color: #453e51;
    border: none;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    font-weight: 500;

    transition: all 0.3s ease;
    
}

.banner_view_more:hover{
    background-color: #3b3545;
    transform: translate(-3px, -3px);
}